@import url('./assets/css/reset.css');
@import url('./assets/css/global.css');

/*! ------> HEADER  */
header{
    display: flex;
    height: 9.6rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--color-primary);
    color: var(--color-text);
}
.vida i{
    font-size: 2rem;
    color: red;
}